@font-face {
  font-family: 'b-icons';
  src:  url('../fonts/b-icons.eot?4df94s');
  src:  url('../fonts/b-icons.eot?4df94s#iefix') format('embedded-opentype'),
    url('../fonts/b-icons.ttf?4df94s') format('truetype'),
    url('../fonts/b-icons.woff?4df94s') format('woff'),
    url('../fonts/b-icons.svg?4df94s#b-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.bi {
  display: inline-block;
  font: normal normal normal 14px/1 b-icons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-android:before {
  content: "\e900";
}
.bi-android-studio:before {
  content: "\e901";
}
.bi-apple:before {
  content: "\e902";
}
.bi-bash:before {
  content: "\e903";
}
.bi-c:before {
  content: "\e904";
}
.bi-c-plusplus:before {
  content: "\e905";
}
.bi-git:before {
  content: "\e906";
}
.bi-github:before {
  content: "\e907";
}
.bi-java:before {
  content: "\e908";
}
.bi-kotlin:before {
  content: "\e909";
}
.bi-latex:before {
  line-height: 0;
  vertical-align: -0.15em;
  content: "\e90a";
}
.bi-linux:before {
  content: "\e90b";
}
.bi-macos:before {
  line-height: 0;
  vertical-align: -0.15em;
  content: "\e90c";
}
.bi-python:before {
  content: "\e90d";
}
.bi-qiita:before {
  content: "\e90e";
}
.bi-tex:before {
  line-height: 0;
  vertical-align: -0.15em;
  content: "\e90f";
}
.bi-twitter:before {
  content: "\e910";
}
.bi-visual-studio-code:before {
  content: "\e911";
}
.bi-windows:before {
  content: "\e912";
}
