<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="DvAmtcJ-4mAzUR3EOVgXJIuW56ccEiKjtuw3JVBdw84" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Daiji256" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Summary }}" />
    <meta name="twitter:image" content="{{ $.Site.BaseURL | absURL }}images/apple-touch-icon.png" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:image" content="{{ $.Site.BaseURL | absURL }}images/apple-touch-icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.BaseURL | relURL }}images/favicon.ico" />
    <link rel="apple-touch-icon" type="image/png" href="{{ $.Site.BaseURL | relURL }}images/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&family=Noto+Sans+JP:wght@400;700&display=swap" as="style" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&family=Noto+Sans+JP:wght@400;700&display=swap" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL | relURL }}css/yakuhanjp_s.min.css" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL | relURL }}css/base.min.css" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL | relURL }}css/one-dark.min.css" />
    <script src="{{ $.Site.BaseURL | relURL }}js/menu.min.js"></script>
    {{ partial "posts/math.html" . }}
  </head>
  <body>
    <div class="all-wrapper">
      {{ partial "header.html" . }}
      {{- block "content" . -}}{{- end -}}
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
