{{ define "content" -}}
<div class="post-wrapper">
  <div class="main-line">
    <div class="post">
      <div class="info">
        <div class="title">{{ .Title }}</div>
        {{ if not (eq (.Date.Format "2006/01/02") "0001/01/01") -}}
        <div class="post-info">
          <svg>
            <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/date.svg#symbol" />
          </svg>
          <div class="text">{{ .Date.Format "2006 年 1 月 2 日" }}</div>
          {{ if not (eq (.Date.Format "2006/01/02") (.Lastmod.Format "2006/01/02")) -}}
          <svg>
            <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/lastmod.svg#symbol" />
          </svg>
          <div class="text">{{ .Lastmod.Format "2006 年 1 月 2 日" }}</div>
          {{- end }}
        </div>
        {{- end }}
        {{ with .Params.categories -}}
        {{ if . -}}
        <div class="post-info">
          <svg>
            <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/categories.svg#symbol" />
          </svg>
          {{ range . -}}
          <a href="{{ $.Site.BaseURL | relURL }}categories/{{ . | urlize }}/" class="text">{{ . }}</a>
          {{- end }}
        </div>
        {{- end }}
        {{- end }}
        {{ with .Params.tags -}}
        {{ if . -}}
        <div class="post-info">
          <svg>
            <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/tags.svg#symbol" />
          </svg>
          {{ range . -}}
          <a href="{{ $.Site.BaseURL | relURL }}tags/{{ . | urlize }}/" class="text">{{ . }}</a>
          {{- end }}
        </div>
        {{- end }}
        {{- end }}
      </div>
      <section class="sec-content">
        <div class="content">
          {{ .Content }}
        </div>
      </section>
    </div>
    {{- if ne .Params.comment false }}
    <div class="comment-back">
      <script
        src="https://utteranc.es/client.js"
        repo="Daiji256/daiji256.github.io"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
    </div>
    {{- end }}
  </div>
  <div class="toc">
    <aside>
      {{ .TableOfContents }}
    </aside>
  </div>
</div>
{{ end }}
