<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    {{ if eq $.Site.IsServer false }}
      <meta name="google-site-verification" content="DvAmtcJ-4mAzUR3EOVgXJIuW56ccEiKjtuw3JVBdw84" />
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-204370875-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-204370875-1');
      </script>
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $font := resources.GetRemote "https://github.com/google/fonts/raw/main/ofl/notosansjp/NotoSansJP-Bold.otf" }}
    {{ $img := resources.Get "images/ogp/ogp.png" }}
    {{ $text := .Title }}
    {{ if gt (strings.RuneCount $text) 23 }}
      {{ $text = printf "%s…" (substr $text 0 22) }}
    {{ end }}
    {{ $img = $img | images.Filter
      (images.Text .Site.Title (dict
        "color" "#333"
        "size" 32
        "x" 90 "y" 19
        "font" $font
      ))
      (images.Text $text (dict
        "color" "#333"
        "size" 64
        "x" 50 "y" 200
        "font" $font
      ))
    }}
    <title>{{ .Site.Title }}</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Daiji256" />
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:image" content="{{ $img.RelPermalink | absURL }}" />
    <meta property="og:url" content="{{ $.Site.BaseURL | absURL }}" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:image" content="{{ $img.RelPermalink | absURL }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.BaseURL | relURL }}images/favicon.ico" />
    <link rel="apple-touch-icon" type="image/png" href="{{ $.Site.BaseURL | relURL }}images/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" as="style" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" media="print" onload="this.media='all'" />
    <link rel="preload" href="https://cdn.jsdelivr.net/gh/daiji256/yaku-kumi-fonts@v1.2/css/yakukumi-sans-rb.min.css" as="style" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/daiji256/yaku-kumi-fonts@v1.2/css/yakukumi-sans-rb.min.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL | relURL }}css/base.min.css" />
    <script src="{{ $.Site.BaseURL | relURL }}js/menu.min.js"></script>
  </head>
  <body>
    <div class="all-wrapper">
      {{ partial "header.html" . }}
      <div class="main-wrapper">
        <div class="cards-line">
          <div class="card">
            <div class="main">
              <img src="{{ $.Site.BaseURL | relURL }}images/icon.svg" width="80" height="80" class="icon" />
              <div class="name">{{ .Site.Title }}</div>
              <div class="brands">
                <a href="https://github.com/Daiji256/" title='GitHub' target="_blank" rel="noopener" class="link">
                  <svg>
                    <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/github.svg#symbol" />
                  </svg>
                </a>
                <a href="https://twitter.com/Daiji256/" title='Twitter' target="_blank" rel="noopener" class="link">
                  <svg>
                    <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/twitter.svg#symbol" />
                  </svg>
                </a>
                <a href="https://qiita.com/Daiji256/" title='Qiita' target="_blank" rel="noopener" class="link">
                  <svg>
                    <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/qiita.svg#symbol" />
                  </svg>
                </a>
                <a href="{{ $.Site.BaseURL | relURL }}index.xml" title='RSS' target="_blank" rel="noopener" class="link">
                  <svg>
                    <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/rss.svg#symbol" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="taxonomies">
              <div class="name">
                <svg>
                  <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/categories.svg#symbol" />
                </svg>
                </svg>
                <a href="{{ $.Site.BaseURL | relURL }}categories/" class="text">カテゴリ</a>
              </div>
              {{ range .Site.Taxonomies.categories.ByCount -}}
                <span class="no-wrap">
                  <a href="{{ $.Site.BaseURL | relURL }}categories/{{ .Name | urlize }}" class="taxonomies-item">
                    {{ .Page.Title }}
                  </a>
                </span>
              {{ end -}}
            </div>
          </div>
          <div class="card">
            <div class="taxonomies">
              <div class="name">
                <svg>
                  <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/tags.svg#symbol" />
                </svg>
                <a href="{{ $.Site.BaseURL | relURL }}tags/" class="text">タグ</a>
              </div>
              {{ range .Site.Taxonomies.tags.ByCount -}}
                <span class="no-wrap">
                  <a href="{{ $.Site.BaseURL | relURL }}tags/{{ .Name | urlize }}" class="taxonomies-item">
                    {{ .Page.Title }}
                  </a>
                </span>
              {{ end -}}
            </div>
          </div>
        </div>
        <div class="posts-line">
          {{- $pages := .Pages -}}
          {{ if .IsHome -}}
            {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}
          {{- end }}
          {{ range (.Paginate $pages).Pages -}}
            <div class="post-card">
              <div class="title">
                <a href="{{ .RelPermalink }}" class="link">{{ .Title }}</a>
              </div>
              <div class="summary">
                {{ .Summary }}...
              </div>
              <div class="post-info">
                <svg>
                  <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/date.svg#symbol" />
                </svg>
                <div class="text">{{ .Date.Format "2006 年 1 月 2 日" }}</div>
                {{ if not (eq (.Date.Format "2006/01/02") (.Lastmod.Format "2006/01/02")) -}}
                  <svg>
                    <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/lastmod.svg#symbol" />
                  </svg>
                  <div class="text">{{ .Lastmod.Format "2006 年 1 月 2 日" }}</div>
                {{- end }}
              </div>
              {{ with .Params.categories -}}
                {{ if . -}}
                  <div class="post-info">
                    <svg>
                      <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/categories.svg#symbol" />
                    </svg>
                    {{ range . -}}
                    <a href="{{ $.Site.BaseURL | relURL }}categories/{{ . | urlize }}/" class="text">{{ . }}</a>
                    {{- end }}
                  </div>
                {{- end }}
              {{- end }}
              {{ with .Params.tags -}}
                {{ if . -}}
                  <div class="post-info">
                    <svg>
                      <use xlink:href="{{ $.Site.BaseURL | relURL }}images/icons/tags.svg#symbol" />
                    </svg>
                    {{ range . -}}
                    <a href="{{ $.Site.BaseURL | relURL }}tags/{{ . | urlize }}/" class="text">{{ . }}</a>
                    {{- end }}
                  </div>
                {{- end }}
              {{- end }}
            </div>
          {{ end -}}
          {{- partial "pagination.html" . }}
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
