$color-primary: #49672d;
$color-primary-container: #caeea6;
$color-on-primary-container: #0e2000;
$color-background: #ffffff;
$color-on-background: #1a1d16;
$color-on-background-variant: #44483e;
$color-outline: #74796c;

$color-link-rest: #0001b4;
$color-link-hover: #0001b4;
$color-link-active: #000082;
$color-link-visited: #3f0071;
