@font-face {
	font-family: "n-sans";
	src: url(/fonts/n-sans/n-sans-regular.woff2) format("woff2"),
		url(/fonts/n-sans/n-sans-regular.woff) format("woff"),
		url(/fonts/n-sans/n-sans-regular.otf) format("opentype");
	font-weight: 400;
	font-display: fallback;
}

@font-face {
	font-family: "n-sans";
	src: url(/fonts/n-sans/n-sans-medium.woff2) format("woff2"),
		url(/fonts/n-sans/n-sans-medium.woff) format("woff"),
		url(/fonts/n-sans/n-sans-medium.otf) format("opentype");
	font-weight: 500;
	font-display: fallback;
}

@font-face {
	font-family: "n-sans";
	src: url(/fonts/n-sans/n-sans-bold.woff2) format("woff2"),
		url(/fonts/n-sans/n-sans-bold.woff) format("woff"),
		url(/fonts/n-sans/n-sans-bold.otf) format("opentype");
	font-weight: 700;
	font-display: fallback;
}

@font-face {
	font-family: "n-mono";
	src: url(/fonts/n-mono/n-mono-regular.woff2) format("woff2"),
		url(/fonts/n-mono/n-mono-regular.woff) format("woff"),
		url(/fonts/n-mono/n-mono-regular.ttf) format("opentype");
	font-weight: 400;
	font-display: fallback;
}

@font-face {
	font-family: "Noto Sans Math";
	src: url(/fonts/noto-sans-math/noto-sans-math-regular.otf) format("opentype");
	font-weight: 400;
	font-display: fallback;
}
