/* Font Family */
$font-family-sans: "n-sans", -apple-system, sans-serif;
$font-family-mono: "n-mono", monospace;
$font-family-math: "Noto Sans Math", $font-family-sans;

/* Font */
$font-body-medium: 400 1.6rem/3.2rem $font-family-sans;
$font-body-small: 400 1.4rem/2.4rem $font-family-sans;
$font-headline-large: 400 2.8rem/4.8rem $font-family-sans;
$font-headline-medium: 400 2.4rem/3.2rem $font-family-sans;
$font-headline-small: 400 2.2rem/2.4rem $font-family-sans;
$font-title-large: 400 2.0rem/3.2rem $font-family-sans;
$font-title-medium: 500 1.6rem/2.4rem $font-family-sans;
$font-label-large: 500 1.6rem/2.4rem $font-family-sans;
$font-label-medium: 500 1.4rem/2.4rem $font-family-sans;
