.aa--l-pm {
  margin-left: -0.5em;
}

.aa--r-pm {
  margin-right: -0.5em;
}

.aa--m-pm {
  margin: 0 -0.25em;
}

.aa--jw-aki::after {
  font-size: calc(15.417% / 0.3);
  vertical-align: top;
  content: ' ';
}

.aa--lr-pm-aki::after {
  font-size: calc(46.25% / 0.3);
  vertical-align: top;
  content: ' ';
}

.aa--m-pm-aki::after {
  font-size: calc(23.125% / 0.3);
  vertical-align: top;
  content: ' ';
}

.aa--d-pm-aki::after {
  font-size: calc(92.5% / 0.3);
  vertical-align: top;
  content: ' ';
}
