@font-face {
	font-family: "n-sans";
	src: url(/fonts/n-sans/n-sans-regular.woff2) format("woff2"),
		url(/fonts/n-sans/n-sans-regular.woff) format("woff"),
		url(/fonts/n-sans/n-sans-regular.otf) format("opentype");
	font-weight: 400;
	font-display: fallback;
}

@font-face {
	font-family: "n-sans";
	src: url(/fonts/n-sans/n-sans-medium.woff2) format("woff2"),
		url(/fonts/n-sans/n-sans-medium.woff) format("woff"),
		url(/fonts/n-sans/n-sans-medium.otf) format("opentype");
	font-weight: 500;
	font-display: fallback;
}

@font-face {
	font-family: "n-sans";
	src: url(/fonts/n-sans/n-sans-bold.woff2) format("woff2"),
		url(/fonts/n-sans/n-sans-bold.woff) format("woff"),
		url(/fonts/n-sans/n-sans-bold.otf) format("opentype");
	font-weight: 700;
	font-display: fallback;
}

@font-face {
	font-family: "n-mono";
	src: url(/fonts/n-mono/n-mono-regular.woff2) format("woff2"),
		url(/fonts/n-mono/n-mono-regular.woff) format("woff"),
		url(/fonts/n-mono/n-mono-regular.otf) format("opentype");
	font-weight: 400;
	font-display: fallback;
}

@font-face {
	font-family: "Noto Sans Math";
	src: url(/fonts/noto-sans-math/noto-sans-math-regular.otf) format("opentype");
	font-weight: 400;
	font-display: fallback;
}

html {
	font-size: 62.5%;
}

body {
	font-family: typography.$font-family-sans;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	line-break: strict;
	color: colors.$color-on-background;
	background-color: colors.$color-background;
	min-height: 100lvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
figure {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

hr {
	width: calc(min(100%, dimensions.$screen-wrapper-max) - 32px);
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid colors.$color-outline;
}

a {
	color: colors.$color-link-rest;
	text-decoration: none;

	&:visited {
		color: colors.$color-link-visited;
	}

	@media (hover: hover) {
		&:hover {
			color: colors.$color-link-hover;
			text-decoration: underline;
		}
	}

	&:active {
		color: colors.$color-link-active;
		text-decoration: underline;
	}
}

.external-link {
	&::after {
		content: "";
		display: inline-block;
		margin: 0 1px;
		width: 8px;
		height: 16px;
		background-color: colors.$color-link-rest;
		mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='none' stroke='black' stroke-linejoin='round' stroke-width='1.5' d='M3 1H1v6h6V5M7 4V1H4M7 1 3.5 4.5'/></svg>") no-repeat;
	}

	&:visited {
		&::after {
			background-color: colors.$color-link-visited;
		}
	}

	@media (hover: hover) {
		&:hover {
			&::after {
				background-color: colors.$color-link-hover;
			}
		}
	}

	&:active {
		&::after {
			background-color: colors.$color-link-active;
		}
	}
}

main {
	font: typography.$font-body-medium;
	margin: 0 auto;
	width: calc(min(100%, dimensions.$screen-wrapper-max) - 32px);

	h1 {
		font: typography.$font-headline-large;
	}

	h2 {
		font: typography.$font-headline-medium;
	}

	h3,
	h4,
	h5,
	h6 {
		font: typography.$font-headline-small;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	p {
		text-align: justify;
	}

	ol,
	ul {
		padding-left: 24px;
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}

	strong {
		font-weight: 700;
	}

	sup {
		a {
			@media (hover: hover) {
				&:hover {
					text-decoration: none;
					outline: 1px dashed colors.$color-link-hover;
					border-radius: 2px;
				}
			}

			&:active {
				text-decoration: none;
				outline: 1px solid colors.$color-link-active;
				border-radius: 2px;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	img,
	pre {
		margin-bottom: 16px;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	table {
		border-collapse: collapse;
		margin: 16px auto;

		td,
		th {
			border: 0;
			padding: 2px 8px;
		}

		tr:first-child th {
			border-top: 2px solid colors.$color-outline;
			border-bottom: 1px solid colors.$color-outline;
		}

		tr:last-child td {
			border-bottom: 2px solid colors.$color-outline;
		}
	}

	hr {
		width: 100%;
	}

	blockquote {
		margin: 0;
		padding: 0 0 0 12px;
		border-left: 2px solid colors.$color-outline;
	}

	code {
		font-family: typography.$font-family-mono;
	}

	pre {
		outline: 1px solid colors.$color-outline;
		border-radius: 2px;

		code {
			display: block;
			width: fit-content;
			padding: 12px;
		}
	}

	mark {
		background-color: colors.$color-primary-container;
		color: colors.$color-on-primary-container;
	}

	math {
		font-family: typography.$font-family-math;
	}

	.data-footnote-backref {
		@media (hover: hover) {
			&:hover {
				text-decoration: none;
				outline: 1px dashed colors.$color-link-hover;
				border-radius: 2px;
			}
		}

		&:active {
			text-decoration: none;
			outline: 1px solid colors.$color-link-active;
			border-radius: 2px;
		}
	}
}

.aa--l-pm {
	margin-left: -0.5em;
}

.aa--r-pm {
	margin-right: -0.5em;
}

.aa--m-pm {
	margin: 0 -0.25em;
}

.aa--jw-aki::after {
	font-size: calc(25% / 0.225);
	vertical-align: top;
	content: " ";
}

.aa--lr-pm-aki::after {
	font-size: calc(50% / 0.225);
	vertical-align: top;
	content: " ";
}

.aa--m-pm-aki::after {
	font-size: calc(25% / 0.225);
	vertical-align: top;
	content: " ";
}

.aa--d-pm-aki::after {
	font-size: calc(100% / 0.225);
	vertical-align: top;
	content: " ";
}
