/* Font Family */
$font-family-sans: 't-sans', 'tj-sans', sans-serif;
$font-family-mono: 't-mono', 't-sans', 'tj-sans', monospace;
$font-family-math: 't-math', $font-family-sans;

/* Font */
$font-body-medium: 400 1rem/2.08rem $font-family-sans;
$font-body-small: 400 0.91rem/1.56rem $font-family-sans;
$font-headline-h1: 400 1.82rem/3.12rem $font-family-sans;
$font-headline-h2: 400 1.56rem/2.08rem $font-family-sans;
$font-headline-h3: 400 1.43rem/1.56rem $font-family-sans;
$font-headline-h4: 400 1.3rem/1.56rem $font-family-sans;
$font-headline-h5: 400 1.17rem/1.56rem $font-family-sans;
$font-headline-h6: 400 1rem/1.56rem $font-family-sans;
$font-title-large: 400 1.3rem/2.08rem $font-family-sans;
$font-title-medium: 400 1rem/1.56rem $font-family-sans;
$font-label-large: 400 1rem/1.56rem $font-family-sans;
$font-label-medium: 400 0.91rem/1.56rem $font-family-sans;
