@import "colors", "typography";

/* Screen Size */
$screen-x-small-min: 320px;
$screen-small-min: 576px;
$screen-medium-min: 768px;
$screen-large-min: 992px;
$screen-x-large-min: 1200px;
$screen-xx-large-min: 1400px;
$screen-wrapper-max: $screen-medium-min;
