.e {
	text-transform: uppercase;
	line-height: 0;
	margin-left: -0.14em;
	margin-right: -0.10em;
	vertical-align: -0.20em;
}

.a {
	text-transform: uppercase;
	line-height: 0;
	font-size: 0.80em;
	margin-left: -0.27em;
	margin-right: -0.15em;
	vertical-align: 0.20em;
}
