@font-face {
  font-family: "HackGen35-Subset";
  src: url("../fonts/HackGen35-Subset-Regular.woff") format("woff"),
    url("../fonts/HackGen35-Subset-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HackGen35-Subset";
  src: url("../fonts/HackGen35-Subset-Bold.woff") format("woff"),
    url("../fonts/HackGen35-Subset-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
