@font-face {
  font-family: "RNS-JP";
  src: url("../fonts/RNS-JP-Regular.woff") format("woff"),
    url("../fonts/RNS-JP-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "RNS-JP";
  src: url("../fonts/RNS-JP-Bold.woff") format("woff"),
    url("../fonts/RNS-JP-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "HackGen35-Subset";
  src: url("../fonts/HackGen35-Subset-Regular.woff") format("woff"),
    url("../fonts/HackGen35-Subset-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "HackGen35-Subset";
  src: url("../fonts/HackGen35-Subset-Bold.woff") format("woff"),
    url("../fonts/HackGen35-Subset-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "regular-icons";
  src: url("../fonts/regular-icons.woff?me3jnj") format("woff"),
    url("../fonts/regular-icons.ttf?me3jnj") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ri {
  font-family: "regular-icons";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}
.ri-user:before {
  content: "\f007";
}
.ri-tags:before {
  content: "\f02c";
}
.ri-pencil:before {
  content: "\f040";
}
.ri-calendar:before {
  content: "\f073";
}
.ri-folder:before {
  content: "\f07b";
}

@font-face {
  font-family: "brands-icons";
  src: url("../fonts/brands-icons.woff?n3bcmd") format("woff"),
    url("../fonts/brands-icons.ttf?n3bcmd") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.bi {
  font-family: "brands-icons";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}
.bi-android:before {
  vertical-align: -0.15em;
  content: "\e900";
}
.bi-android-studio:before {
  content: "\e901";
}
.bi-apple:before {
  content: "\e902";
}
.bi-atcoder:before {
  content: "\e903";
}
.bi-bash:before {
  content: "\e904";
}
.bi-c:before {
  content: "\e905";
}
.bi-c-plusplus:before {
  content: "\e906";
}
.bi-git:before {
  content: "\e907";
}
.bi-github:before {
  content: "\e908";
}
.bi-kotlin:before {
  content: "\e909";
}
.bi-linux:before {
  content: "\e90a";
}
.bi-macos:before {
  vertical-align: -0.2em;
  content: "\e90b";
}
.bi-python:before {
  content: "\e90c";
}
.bi-qiita:before {
  content: "\e90d";
}
.bi-tex:before {
  vertical-align: -0.15em;
  content: "\e90e";
}
.bi-twitter:before {
  content: "\e90f";
}
.bi-visual-studio-code:before {
  content: "\e910";
}
.bi-windows:before {
  content: "\e911";
}
