@font-face {
  font-family: "regular-icons";
  src: url("../fonts/regular-icons.woff?me3jnj") format("woff"),
    url("../fonts/regular-icons.ttf?me3jnj") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ri {
  font-family: "regular-icons";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}

.ri-user:before {
  content: "\f007";
}
.ri-tags:before {
  content: "\f02c";
}
.ri-pencil:before {
  content: "\f040";
}
.ri-calendar:before {
  content: "\f073";
}
.ri-folder:before {
  content: "\f07b";
}
