---
import Post from './Post.astro';
import { type PostSummary } from '../models/postSummary';

type Props = {
  posts: PostSummary[];
};

const { posts } = Astro.props;
---

<>
  {
    posts.map((post) => (
      <div class="post">
        <Post post={post} />
      </div>
    ))
  }
</>

<style lang="scss">
  .post:not(:first-child) {
    margin-top: 24px;
  }
</style>
