<footer>
  <div class="container">
    <ul>
      <li>
        {{ partial "functions/aki-kumi.html" .Site.Copyright }}
      </li>
      <li>
        <a href="{{ $.Site.BaseURL | relURL }}privacy/" class="item">
          プライバシー
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTIbjKvr5QbhmYB2Se21tqQ_GvqH0qNzV19ysjZnokPx5Jeg/viewform?usp=sf_link"
          target="_blank" rel="noopener" class="item">
          お問い合わせ
        </a>
      </li>
    </ul>
  </div>
</footer>