
<div class="header">
  <div class="container">
    <ul>
      <li>
        <a href="/" class="item">
          <img src="{{ $.Site.BaseURL | relURL }}images/icon.svg" width="28" height="28" title='ホーム' class="user-icon" />
          <div class="text">{{ .Site.Title }}</div>
        </a>
      </li>
      <li>
        <a href="{{ $.Site.BaseURL | relURL }}" class="item">
          <div class="logo" title='ホーム'>
            <span class="ri ri-pencil"></span>
          </div>
          <div class="text">ホーム</div>
        </a>
      </li>
      <li>
        <a href="{{ $.Site.BaseURL | relURL }}categories/" class="item">
          <div class="logo" title='カテゴリ'>
            <span class="ri ri-folder"></span>
          </div>
          <div class="text">カテゴリ</div>
        </a>
      </li>
      <li>
        <a href="{{ $.Site.BaseURL | relURL }}tags/" class="item">
          <div class="logo">
            <span class="ri ri-tags" title='タグ'></span>
          </div>
          <div class="text">タグ</div>
        </a>
      </li>
      <li>
        <a href="{{ $.Site.BaseURL | relURL }}about/" class="item">
          <div class="logo">
            <span class="ri ri-user" title='プロフィール'></span>
          </div>
          <div class="text">プロフィール</div>
        </a>
      </li>
    </ul>
  </div>
</div>
