.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;

  article {
    details {
      summary {
        cursor: pointer;
      }
    }

    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;

      h1 {
        font-size: $Huge;
        line-height: $HUGE;
        margin: 0;

        @media only screen and (max-width: 768px) {
          font-size: $huge;
          line-height: $Huge;
        }
      }
    }

    footer {
      margin-top: 4rem;

      .see-also {
        margin: 3.2rem 0;

        h3 {
          margin: 3.2rem 0;
        }
      }
    }

    p {
      text-align: justify;
      text-justify: auto;
      hyphens: auto;
    }
  }

  .post {
    .post-title {
      margin-bottom: 0.75em;
    }

    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }
  }

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: $small;
    margin: 0;
  }
}

.avatar img {
  width: 18rem;
  height: auto;
  border-radius: 50%;

  @media only screen and (max-width: 768px) {
    width: 12rem;
  }
}

.list {
  h1 {
    text-transform: capitalize;
    font-size: $huge;
    margin-bottom: -1rem;

    @media only screen and (max-width: 768px) {
      font-size: $LARGE;
    }
  }

  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;

    li {
      font-size: $normalsize;

      @media only screen and (max-width: 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }

      .date {
        display: inline-block;
        flex: 1;
        width: 20rem;
        text-align: right;
        margin-right: 3rem;

        @media only screen and (max-width: 768px) {
          display: block;
          text-align: left;
        }
      }

      .title {
        flex: 4;
        color: $fg-color;
        font-family: $font-family;
        font-weight: 400;

        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }

  ul:not(.pagination) {
    li {
      @media only screen and (min-width: 768.1px) {
        display: flex;
      }
    }
  }
}

.centered {

  .about {
    display: flex;

    h1 {
      margin-top: 2.5rem;
      margin-bottom: 0.5rem;
      font-size: $HUGE;

      @media only screen and (max-width: 768px) {
        margin-top: 1.5rem;
        margin-bottom: 0;
        font-size: $huge;
      }
    }

    h2 {
      margin-top: 1.0rem;
      margin-bottom: -1rem;
      font-size: $huge;

      @media only screen and (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: $large;
      }
    }

    ul {
      list-style: none;
      margin: 3rem 0 1rem 0;
      padding: 0;

      @media only screen and (max-width: 768px) {
        margin-top: 1rem;
      }

      li {
        display: inline-block;
        position: relative;

        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-right: 1.5rem;
          font-size: $small;

          &:hover,
          &:focus {
            color: $link-color;
          }

          @media only screen and (max-width: 768px) {
            font-size: $footnotesize;
          }

          i {
            font-size: $Huge;
            @media only screen and (max-width: 768px) {
              font-size: $huge;
            }
          }
        }
      }
    }
  }

  .error {
    text-align: center;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: $Huge;

      @media only screen and (max-width: 768px) {
        font-size: $huge;
      }
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 3.2rem;
      font-size: $huge;

      @media only screen and (max-width: 768px) {
        font-size: $LARGE;
      }
    }
  }

  h1 {
    text-transform: capitalize;
    font-size: $huge;
    margin-bottom: -1rem;

    @media only screen and (max-width: 768px) {
      font-size: $LARGE;
    }
  }

  .list {
    ul {
      margin: 3.2rem 0 3.2rem 0;
      list-style: none;
      padding: 0;

      li {
        font-size: $normalsize;

        @media only screen and (max-width: 768px) {
          margin: 1.6rem 0 1.6rem 0;
        }

        .date {
          display: inline-block;
          flex: 1;
          width: 20rem;
          text-align: right;
          margin-right: 3rem;

          @media only screen and (max-width: 768px) {
            display: block;
            text-align: left;
          }
        }

        .title {
          flex: 4;
          color: $fg-color;
          font-family: $font-family;
          font-weight: 400;

          &:hover,
          &:focus {
            color: $link-color;
          }
        }
      }
    }

    ul:not(.pagination) {
      li {
        @media only screen and (min-width: 768.1px) {
          display: flex;
        }
      }
    }
  }
}
