// Fonts
$font-family: 'Roboto', 'Noto Sans JP', 'Qiita', sans-serif;
$code-font-family: 'Roboto Mono', 'M PLUS 1p', monospace;

// Colors
$bg-color: #ffffff !default;
$fg-color: #333333 !default;
$alt-bg-color: #cccccc !default;
$alt-fg-color: #333333 !default;
$link-color: #3465a4 !default;

// Dark colors
$bg-color-dark: #333333 !default;
$fg-color-dark: #eeeeee !default;
$alt-bg-color-dark: #666666 !default;
$alt-fg-color-dark: #eeeeee !default;
$link-color-dark: #729fcf !default;

// Notice colors
$fg-color-notice-note-icon: #780373 !default;
$bg-color-notice-note-title: #a1467e30 !default;
$bg-color-notice-note-content: #bf819e30 !default;
$fg-color-notice-tip-icon: #81d41a !default;
$bg-color-notice-tip-title: #d4ea6b30 !default;
$bg-color-notice-tip-content: #e8f2a130 !default;
$fg-color-notice-example-icon: #ea7500 !default;
$bg-color-notice-example-title: #ff972f30 !default;
$bg-color-notice-example-content: #ffb66c30 !default;
$fg-color-notice-question-icon: #168253 !default;
$bg-color-notice-question-title: #81aca630 !default;
$bg-color-notice-question-content: #b3cac730 !default;
$fg-color-notice-info-icon: #3465a4 !default;
$bg-color-notice-info-title: #729fcf30 !default;
$bg-color-notice-info-content: #b4c7dc30 !default;
$fg-color-notice-warning-icon: #e6e905 !default;
$bg-color-notice-warning-title: #ffff6d30 !default;
$bg-color-notice-warning-content: #ffffa630 !default;
$fg-color-notice-error-icon: #f10d0c !default;
$bg-color-notice-error-title: #ff6d6d30 !default;
$bg-color-notice-error-content: #ffa6a630 !default;
