---

---

<>L<span class="a">a</span>T<span class="e">e</span>X</>

<style lang="scss">
  .a {
    text-transform: uppercase;
    line-height: 0;
    font-size: 0.8em;
    margin-left: -0.27em;
    margin-right: -0.15em;
    vertical-align: 0.25em;
  }

  .e {
    text-transform: uppercase;
    line-height: 0;
    margin-left: -0.14em;
    margin-right: -0.1em;
    vertical-align: -0.2em;
  }
</style>
